
* {
    margin: 0;
    padding: 0;
  }

  a:visited {

color:#fffffe
  }
  .amain{
    margin-top: 10px;
    text-align: center;

  }
  .artikelh3 {
    color: #fffffe;
    font-weight: bold;
  }
  body {
      
    display: flex;
    flex-direction: column;
    height:100%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #232946;
  }
  
  .container {
    width: 100%;
    margin: 0 auto;
  }
  
.articleimage {
  display: flex;
  width: 600px;
  height: 400px;
}

.profimage {
  display: flex;

}

.wrapper {
  margin-top: 50px;
  margin-left: 20px;
  display:flex;
  gap: 20px;
  flex-wrap: wrap;
  overflow: auto;
}

.box {
  align-items: center;
  margin-top: 25px;
  display: flex;
  gap: 25px;
  flex-direction: column;
}
  .cimg {

 display: flex;
 justify-content:flex-end;
 align-content: flex-end;
  width: 100px;
  height: 70px;
  }
  
  .boxcontainer {
  margin-top: 1vh;
  padding: 5px;
  display:flex;
  width: 250px;
  height: auto;
  border: #b8c1ec;
  border-style: solid;
  border-radius: 2px;

  }

  .boxcontainer:hover{
    background-color: #b8c1ec;
  }


.btxt {
  color: #fffffe;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
  
.mailto-link {
  margin-left: 5px;
  color:#b8c1ec;
  text-decoration: none; /* Optional: removes underline */
}

  
  /* Header und Navigation */

  header {
    display: flex;
    background-color: #232946;
    color: #fffffe;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 5px;
    border-style: solid;
    border-color: #b8c1ec;
   }
  
    p {
      color:#fffffe;
    }
    
    .particle {
      color:#fffffe;
      margin-top: 10px;
    }
    h2 {
      color: #fffffe;
    }
   a  {
   text-decoration: none;
    }

    a:hover {
     color: #eebbc3;
    }
  header h1 {
    display: flex;
    padding: 15px;
    font-size: 2rem;
    text-align: left;

  }

  nav ul {
    position: relative;
    top: -30px;
    margin-top: -10px;
    margin-right: 80px;
    list-style-type: none;
    display: flex;
    justify-content: right;
    gap: 20px;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    text-decoration:solid;
    color: #eebbc3;
  }

  nav ul li a:active {
    text-decoration:solid;
    color: #eebbc3;
  }
  
  
  /* Sektionen */
  .section {
    padding: 50px 0;
    text-align: center;
  }
  
  .section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .portfolio-items {
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
  
  .portfolio-item {
    text-align: center;
    width: 30%;
  }
  
  .portfolio-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .portfolio-item h3 {
    margin-top: 10px;
  }
  
  .help{
    color: #b8c1ec;
     text-align:center;
      padding: 50px 0;
  
  }
      .help li {
          display:inline-block;
          padding: 50px;
      }
  
      .thumbnail{
    
        width: 400px;        /* Setzt die Breite auf 200px */
        height: 200px;       /* Setzt die Höhe auf 200px */
        object-fit: cover;   /* Skaliert das Bild, sodass es den Container ausfüllt, ohne es zu verzerren */
        object-position: center;  /* Positioniert das Bild zentriert im Container, wenn es abgeschnitten wird */
        overflow: hidden;
      
      }
  
  
  /* Footer */
  footer {
    background-color: #232946;
    color: white;
    text-align: center;
    padding: 20px 0;
    border-color: #232946;
    border-style: solid;
  
    
  }
  
  footer p {
    font-size: 1rem;
  }

  .logo{
    display: flex;
    float: inline-start;
    margin-top: 10px;
    margin-left: 15px;
    background-color: #232946;
  }

  main{
    flex: 1;
  
  }

  .ap{
    color: #fffffe;


  }
